@import '../scss/colors.scss';

.pages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .left-side {
        width: 250px;
        height: 100vh;
        background-color: $main-dark;
    }

    .right-side {
        flex: 1 0 50%;
        height: 100vh;
        background-color: $main;
    }
}

@media ( max-width: 1013px ) {
    .pages {
        .left-side {
            display: none;
        }
        .right-side {
            width: 100%;
            flex: 0 0 100%;
            height: auto;
        }
    }
}

@media ( min-width: 1014px ) {
    .pages {
        .left-side {
            width: 200px;
        }
    }
    .pages-movil {
        display: none;
    }
}

@media ( min-width: 1250px ) {
    .pages {
        .left-side {
            width: 250px;
        }
    }
}