@import '../scss/colors.scss';

.pages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .left-side {
        width: 250px;
        height: 100vh;
        background-color: $main-dark;
    }

    .right-side {
        flex: 1 0 50%;
        height: 100vh;
        background-color: $main;
    }
}