@import '../../scss/colors.scss';

.new-releases {
    width: 100%;
    height: calc( 100% - 80px );
    overflow-y: scroll;
    padding-bottom: 20px;
}

@media ( max-width: 1013px ) {
    .new-releases {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
}