<div class="authorized">
    <div class="content">
        <div class="go-auth" routerLink="/auth"><i class="close icon"></i></div>
        
        <img src="../../../assets/omnidoc-logo.png" alt="omnidoc-logo.png">
        <div class="tag">Musica</div>

        <div class="auth">
            <h2>Para seguir disfrutando de nuestra musica, favor de iniciar en tu cuenta spotify.</h2>
            <button class="btn mt-fix change-color" routerLink="/auth">Iniciar Sesion <i class="sign-in alternate icon"></i></button>
        </div>
    </div>

    <div class="by-spotify" (click)="goSpotify();">
        <img src="../../../assets/by-spotify.jpg" alt="by-spotify.jpg">
    </div>
</div>