@import '../../../scss/colors.scss';

.album {
    width: 95%;
    height: 430px;
    margin: 0 auto;
    background-color: $card-bg;
    border-radius: 3px;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: $transition;
    overflow: hidden;
    cursor: pointer;

    .type {
        position: absolute;
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;
        background-color: $main-dark;
        letter-spacing: 1px;
        font-size: 11px;
        right: -28px;
        top: 0px;
        transform: rotate(45deg);
        text-transform: uppercase;
    }
    
    .album-img {
        width: 95%;
        margin-top: 10px;
        border-radius: 3px;
        object-fit: cover;
    }

    .data {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 8px 20px;

        li {
            width: 100%;
            text-align: left;
            text-transform: uppercase;
            font-size: 12px;
            text-align: right;
            font-weight: bold;
            color: $font-gray-light;
            padding: 10px;

            &:first-of-type {
                padding: 5px 10px 0px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            span {
                letter-spacing: 1px;
                font-size: 12px;
                float: left;
                margin-right: 10px;
                color: $font-white;
            }

            .artist-name {
                text-align: center !important;
            }

            &.artist-name:nth-of-type(3n+1) {
                display: none;
            }
        }

        h3 {
            margin: 0 0 8px;
            font-size: 12px;
            text-align: center;
            letter-spacing: 1px;
            color: $green;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .release_data {
        position: absolute;
        bottom: 7px;
        right: 10px;
        color: $font-gray-light;
        font-size: 11px;
        font-style: italic;
    }

    &:hover {
        box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;
    }
}