// Body Color
$body-color: #e5e5e5;

// Backgrounds
$white: #fff;
$dark: #2B2B2B;

// Main Color 
$main: #2B2B2B;
$main-light: #444444;
$main-dark: #000000;
$card-bg: #111;

// Fonts Color
$font-white: #fff;
$font-dark: #2B2B2B;
$font-gray: #6E6E6E;
$font-gray-light: #a5a5a5;
$font-white-light: #F0F0F0;

// Borders Color
$border-light: #e1e1e1;
$border-dark: #101010;

$action: #0095f6;
$danger: #f8737e;
$black-grey: #202020;

$transition: all .3s ease-in-out;
$shadow: 0 7px 6px -6px black;
$box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

$love: #f3808a;
$wait: #f3ebb6;
$watch: #70c5df;

$dark-light: #505050;
$disabled: #808080;
$gray: #6E6E6E;
$orange: #F17338;
$red: #FE6A6A;
$green: #1fdf64;
$blue: #4560b9;

// Emision message colors
$color-love:#f3808a;
$bg-love: #faf1f2;
$shadow-love: 0 0 0 1px #cc979c inset, 0 0 0 0 transparent;

$color-wait:#e6d884;
$bg-wait: #fcfaf0;
$shadow-wait: 0 0 0 1px #cecab4 inset, 0 0 0 0 transparent;

$color-watch:#70c5df;
$bg-watch: #f0f9fc;
$shadow-watch: 0 0 0 1px #a3bcc4 inset, 0 0 0 0 transparent;
