@import '../../../scss/colors.scss';

.track {
    width: 100%;
    height: 100%;
    padding: 9.3px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;

    .index {
        color: $font-gray-light;
        margin-right: 10px;
    }

    .track-name {
        color: $font-white;
        letter-spacing: 1px;
        max-width: 300px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: $transition;
    }
    
    .duration {
        margin-left: auto;
        color: $green;
        font-size: 13px;

        span {
            color: $font-gray-light;
            font-size: 12px;
            margin-right: 10px;
        }
    }

    &:hover .track-name {
        color: $green;
    }
}

@media ( max-width: 1013px ) {
    .track {
        .track-name {
            max-width: 200px;
        }
    }
}